<% include ../partials/header.ejs %>
<% include ../partials/menu.ejs %>

<div class="ui breadcrumb">
  <a class="section" href="/portfolios">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="/portfolios/<%= portfolio._id%>/">Portfolio - <%= portfolio.name %></a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Update amount</div>

</div>

<h2>UPDATE amount of <%= stock.name %> stock</h2>
<h3>In the <em><%= portfolio.name %></em> portfolio</h3>
  <div class="ui form segment">
  <form class="ui form"method="POST" action="/portfolios/<%= portfolio._id%>/stocks/<%= stock.id%>/?_method=PUT" >
    <div class="field">
      <label for="symbol">Symbol:</label>
        <input type="text" id="symbol"  disabled value="<%= stock.symbol%>" >
    </div>
    <div class="field">
      <label for="name">Name:</label>
        <input type="text" id="name"  disabled value="<%= stock.name %>" >
    </div>
    <div class="required field">
      <label for="amount">Amount:</label>
        <input type="number" id="amount" name="stock[amount]"  value="<%= stock.amount%>" required="true" >
    </div>

      <input type="submit" value="UPDATE" class="circular ui green button">

  </form>
</div>

<script type="text/javascript">
(function ($) {
    $('.ui.form').form({
      amount: {
        identifier: 'amount',
        rules: [{
          type: 'empty',
          prompt: 'Please enter an amount'
        }]
      },
    }, {
      on: 'blur',
      inline: 'true'
    });
  }(jQuery));

</script>
<% include ../partials/footer.ejs %>
