<% include ../partials/header %>
<div class="ui breadcrumb">
  <a class="section" href="/portfolios">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="/portfolios/<%= portfolio_id %>">Portfolio</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Stock details</div>
</div>
  <h2>Details on <%= stock.name %></h2>
  <h3>(Symbol: <%= stock.symbol %> ) traded on the <%= stock.exchange %> exchange</h3>

  <hr>

  <table class="ui table">
    <thead>
      <tr>
        <th>
          Estimated Year End Price
        </th>
        <th>
          Last Closing Price
        </th>
        <th>
          Estimated Return
        </th>
        <th>
          Risk
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if ( Number(stock.estPrice) > Number(stockDetails.currPrice) ) { %>
          <td class="positive">
        <% } else { %>
          <td class="negative">
        <% } %>
          $<%= stock.estPrice.toFixed(2) %>
        </td>
        <td>
          $<%= stockDetails.currPrice %>
        </td>
        <td>
          <%= (stockDetails.estimatedYrEndRtn * 100).toFixed(2) %>%
        </td>
        <td>
          +/- <%= (stockDetails.stddev * 100).toFixed(2) %>% of Estimated Return
        </td>
      </tr>
    </tbody>
  </table>
<hr>

<% include ../partials/footer %>
