<% include ../partials/header %>
    <h2>Details on Stock</h2>
    <p><%= stockDetails.symbol %></p>
    <p><%= stockDetails.name %></p>
    <p><%= stockDetails.exchange %></p>
    <p>Estimated Year End Price: $<%= stockDetails.estPrice.toFixed(2) %></p>
    <p>Estimated Return: <%= (stockDetails.estimatedYrEndRtn * 100).toFixed(2) %>%</p>
    <p>Last Closing Price: $<%= stockDetails.currPrice %></p>
    <p>Risk: +/- <%= (stockDetails.stddev * 100).toFixed(2) %> %</p>

<% include ../partials/footer %>
