<% include ../partials/header %>
    <h2>Details on Stock</h2>
    <p><%= stockDetails.symbol %></p>
    <p><%= stockDetails.name %></p>
    <p><%= stockDetails.exchange %></p>
    <!-- <p><%= stockDetails.avgRtn %></p>
    <p><%= stockDetails.varRtn %></p>
    <p><%= stockDetails.stddevRtn %></p>
    <p><%= stockDetails.estimatedRtn %></p>
    <p><%= stockDetails.modifiedEstRtn %></p>
    <p><%= stockDetails.monteCarloRtn %></p> -->
    <p>Estimated Year End Price: $<%= stockDetails.estPrice.toFixed(2) %></p>
    <p>Estimated Return: <%= (stockDetails.estimatedYrEndRtn * 100).toFixed(2) %>%</p>
    <p>Last Closing Price: $<%= stockDetails.currPrice %></p>
<% include ../partials/footer %>
