<% include ../partials/header.ejs %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.4.1/canvas.min.js" ></script>

<h1>Add a stock</h1>
<a href="/portfolios/<%= portfolio.id %>/stocks/new">Add a New Stock Page</a><br>
<a href="/portfolios/<%= portfolio.id %>/edit">Change your portfolio name</a>
<h2><%= portfolio.name %></h2>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<table class="table table-hover">
  <thead>
    <th>Company Name</th>
    <th>Stock Symbol</th>
    <th>Amount ($)</th>
    <th>% of portfolio</th>
    <th>Est. Yr End Return </th>
    <th>Est. Yr End Price($)</th>
    <th>Previous Price($)</th>
    <th>Edit</th>
    <th></th>
  </thead>
  <tbody>
<% var pieChartData  =[ ] %>
<% portfolio.stocks.forEach( function ( stock, index ) {  %>
  <% var  pieChartDataElement  = {}
          pieChartDataElement.label =  stock.name
          pieChartDataElement.legendText =  stock.name
          pieChartDataElement.y = ((stock.amount / portTot) * 100).toFixed(2)
          pieChartData.push(pieChartDataElement)
  %>
  <tr>
    <td><a href="/portfolios/<%= portfolio.id%>/stocks/<%= stock.id %>"><%= stock.symbol %></a></td>
    <td><%= stock.name %></td>
    <td><%= stock.amount.toFixed(2) %></td>
    <td><%= ((stock.amount / portTot) * 100).toFixed(2) %></td>
    <td><%= ((stock.estimatedYrEndRtn) * 100).toFixed(2) %>%</td>
    <td><%= (stock.estPrice).toFixed(2) %></td>
    <td><%= currPrices[index].split(",")[1] %></td>
    <td>  <a href="/portfolios/<%= portfolio.id%>/stocks/<%= stock.id %>/edit">
          <input class="btn btn-info" type="button" name="name" value="edit"></a></td>
    <td>
          <form action="/portfolios/<%= portfolio.id%>/stocks/<%= stock.id %>?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" name="name" value="X">
          </form>
    </td>
  </tr>
<% }) %>
</tbody>
<tfoot>
  <tr>
    <td></td>
    <td>Portfolio Total:</td>
    <td><b>$<%= portTot %></b></td>
    <td>Avg Rtn of Portfolio:</td>
    <td><b><%= ((portAvg * 100)).toFixed(2) %>%</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tfoot>
</table>

<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		backgroundColor: "#EFECEC",
    title:{
			fontColor: "#6b6b6b",
      text: "Portfolio Stock Allocation %"
		},
                animationEnabled: true,
		legend:{
			verticalAlign: "center",
			horizontalAlign: "left",
			fontSize: 16,
			fontFamily: "Helvetica",
      fontColor: "#6b6b6b"
		},
		theme: "theme1",
		data: [
  		{
  			type: "pie",
  			indexLabelFontFamily: "Garamond",
  			indexLabelFontSize: 20,
  			indexLabel: "{label} {y}%",
  			startAngle:-20,
  			showInLegend: true,
  			toolTipContent:"{legendText} {y}%",
  			dataPoints: [
          <% pieChartData.forEach( function (chartData ) { %>
            {y: <%= chartData.y %>, label: "<%= chartData.label %>", legendText:"<%= chartData.legendText %>"},
          <% }) %>
  			]
  		}
		]
	});

	chart.render();
}
</script>
<% include ../partials/footer.ejs %>
