<% include ../partials/header.ejs %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>

<h1>Add a stock</h1>
<a href="/portfolios/<%= portfolio.id %>/stocks/new">Add a New Stock Page</a>

<h2><%= portfolio.name %></h2>
<% portfolio.stocks.forEach( function ( stock ) {  %>
<p>
  <a href="/portfolios/<%= portfolio.id%>/stocks/<%= stock.stockId %>"><%= stock.symbol %></a>
</p>
<p>
  <%= stock.amount %>
</p>

<% }) %>
<% include ../partials/footer.ejs %>
