<% include ../partials/header.ejs %>

<h1>Add a stock</h1>
<a href="/portfolios/<%= portfolio.id %>/stocks/new">Add a New Stock Page</a><br>
<a href="/portfolios/<%= portfolio.id %>/edit">Change your portfolio name</a>
<h2><%= portfolio.name %></h2>
<table class="table table-hover">
  <thead>
    <th>Company Name</th>
    <th>Stock Symbol</th>
    <th>Exchange</th>
    <th>Amount</th>
    <th>% of portfolio</th>
    <th>Est. Yr End Return </th>
    <th>Est. Yr End Price</th>
    <th>Recent Close Price</th>
    <th>Edit Amount</th>
    <th></th>
  </thead>
  <tbody>
<% portfolio.stocks.forEach( function ( stock, index ) {  %>
  <tr>
    <td>  <a href="/portfolios/<%= portfolio.id%>/stocks/<%= stock.id %>"><%= stock.symbol %></a></td>
    <td>  <%= stock.name %></td>
    <td>  <%= stock.exchange %></td>
    <td>$ <%= stock.amount.toFixed(2) %></td>
    <td>  <%= ((stock.amount / portTot) * 100).toFixed(2) %></td>
    <td>  <%= ((stock.estimatedYrEndRtn) * 100).toFixed(2) %>%</td>
    <td>$ <%= (stock.estPrice).toFixed(2) %></td>
    <td>$ <%= currPrices[index].split(",")[1] %></td>
    <td>  <a href="/portfolios/<%= portfolio.id%>/stocks/<%= stock.id %>/edit">
          <input type="button" name="name" value="edit"></a></td>
    <td>  <input type="button" name="name" value="X"></td>
  </tr>
<% }) %>
</tbody>
<tfoot>
  <tr>
    <td></td>
    <td></td>
    <td>Portfolio Total:</td>
    <td><b>$<%= portTot %></b></td>
    <td>Avg Rtn of Portfolio:</td>
    <td><b><%= ((portAvg * 100)).toFixed(2) %>%</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</tfoot>
</table>
<% include ../partials/footer.ejs %>
